button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

input[type=button],
input[type=reset],
button,
.btn {
    /* default for <button>, but needed for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 2px;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* button size comes from text + padding, avoid height */
	padding: 1em 1.2em;

    /* make sure colors have enough contrast! */
    color: white;
    background-color: #45923b;
    cursor: pointer;
    user-select: none;
}

.btn.small {
    margin: 2px 2px;
    padding: 0.5em 1em;
}

input[type=reset] {
	background-color: #ed3131;
	color: white;

}

input[type=button]:hover,
input[type=reset]:hover,
.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

input[type=button]:hover,
input[type=reset]:hover,
.btn:hover {
    color: #45923b;
    border-color: currentColor;
    background-color: white;
}

input[type=button]:disabled,
input[type=reset]:disabled,
.btn[disabled],
.btn.disabled {
    filter: alpha(opacity=40);
    opacity: 0.40;
    box-shadow: none;
    pointer-events: none;
    cursor: not-allowed;
}

/* make sure we have a visible focus ring */
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
        0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.button-group {
    *letter-spacing: normal;
    text-rendering: optimizespeed;
}

.button-group .btn {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}