.item-section {
    background-color: rgb(69, 73, 76);
    border: 1px solid gold;
    padding: 10px;
    border-radius: 3px;
    margin: auto;
}

.item-grid-container {
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto;
    float: left;
    margin: auto;
}

.item-grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 0;
    margin: 3px;
    width: 66px;
    height: 66px;
}

.item-grid-container>div>div {
    user-select: none;
    display: block;
    text-align: center;
    text-anchor: middle;
    font-size: 10px;
    /* color: gray; */
    background-color: black;
    width: 20px;
    height: 20px;
    padding: 0;
    border: gray solid 1px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 28px;
    right: 2px;
}

.item-grid-container>div>img {
    zoom: 1;
}

.itemcontrol-grid-container {
    display: grid;
    grid-template-columns: auto;
}


.shop-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.shop-search {
    padding: 4px 6px;
    border: 2px solid #aaa;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    margin: 2px 0;
    box-sizing: border-box;
    font-variant-numeric: tabular-nums;
    background-color: #121a1b;
    color: white;
}

.shop-search :focus {
    border: 2px solid #2196F3;
}

.item {
    /* height: 200px; */
}

.tooltiplink {
    margin: 1px;
}

/* .tooltiplink:hover .tooltipcontent {
    display: block;
}
 */

.tooltipcontent {
    display: none;
    background: black;
    /* margin-left: 28px; */
    /* padding: 10px; */
    position: fixed;
    z-index: 10;
    /* width: 200px;
    height: 100px; */
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #333;
    margin: auto;
    padding: 0;
    border: 2px solid #888;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s; */
    animation-name: animatetop;
    animation-duration: 0.15s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4C4D49;
}

.modal-body {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2px 2px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #4C4D49;
}