:root {
	--font-color: #eee;
	--high-color: #B07C42;
	--other-color: #99979B;
	--low-color: #80695E;
	--bg-color: #121a1b;
	--bg-color-2: #38292A;
}
[v-cloak] {
  display: none;
}
::placeholder {
	color: white;
	opacity: 1;
}

.blue {
	color: #51a2e6 !important;
}

.red {
	color: #e83d32 !important;
}
.header {
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 8px;
	border-bottom: #45a049 solid 2px;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: rgb(12, 22, 23);
  display: flex;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.title-tooltip {
	border-bottom:1px dotted gray;
	cursor: help;
}

/* For Stats tooltips and for efect tooltips */
.tooltip,
.stats-tooltip>span {
	border-bottom:1px dotted;
	cursor: help;
	font-style: italic;
}
.tooltip:hover .tooltip-float,
.stats-tooltip:hover .stats-table {
	visibility: visible;
}

.tooltip-float,
.stats-table {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	background: #121a1b;
	padding: 3px;
	border: #9797FC solid 1px;
	color: #eee;
}

.stats-table>div {
	/* font-size: 11px; */
	line-height: 1em;
	font-style: normal;
	display: table-row-group
}

.stats-table>div>span {
	text-align: right;
	/* color: #9797FC; */
	padding-right: 3px;
	display: table-cell
}

.stats-table>div>span>span {
	font-style: italic;
}

/* for void staff switch */
.data_holder {
	/* width: 35em; */
	/* max-width: 50em; */
	margin: 3.5px auto;
	border: 1px solid #1e8ad6;
	background-color: #121a1b;
	padding: 5px;
}

.data_holder.small {
	width: 36em;
}
.sidebar {
  margin: 0;
	padding: 4px;
	left: 70%;
	width: 30%;
	max-height: 10%;
	z-index: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
	overflow: auto;
	float: right;
}
.main {
	width: 70%;
}

@media (min-width: 880px) and (max-width: 1375px) {
	.sidebar .fill > * {
			width: 100%;
	}
}
@media (max-width: 880px) {
	.sidebar {
		position: inherit;
		width: 100%;
	}
	.main {
		width: 100%;
	}
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.spellrank {
	border: none;
	/* float: left; */
}

.spellrank input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #aaa700;
	color: #eee;
	height: 24px;
	width: 24px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	/* margin-right: 7px; */
	outline: none;
}

.spellrank input:checked {
	background: #FFf700;
}

.spellrank input:checked~input {
	background: #f1f1f1;
}

.cost-container [data-active="true"] {
	color: #1e8ad6;
}

.cooldown-container [data-active="true"] {
	color: #1e8ad6;
}

.spelleffect {
	color: #1e8ad6;
}

.capture-unknown {
	color: #a52323;
}

.spell-effect {
	border: #1e8ad6 solid 1px;
	margin-bottom: 5px;
	padding: 0;
}

.field {
	/* margin: auto; */
	max-width: 50%;
	width: 50%;
}
.field.full {
    width: 100%;
    max-width: 100%;
}
.field span {
	margin: 0.5rem;
	max-width: 40%;
	white-space: nowrap;
	text-overflow: clip;
	
}
.field .input {
	max-width: 45%;
	background: #121a1b
}

.field .del-btn {
		/* width: 10%; */
		background-color: transparent;
    border: 0.0rem solid #45923b;
		cursor: pointer;
    display: inline-block;
		color: #fff;
		padding: 0.2em 0.3em;
		margin: 0 0.2em; 
		max-width: 7%;
}

.field .del-btn:hover {
		color: #ff1717
}

.chamption-name {
	font-weight: bold;
	color: plum;
}

.numeral-inc {
	background-color: #d4dbdd;
	border: 0.1rem solid #606c76;
	border-radius: 1rem;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-size: 3rem;
	font-weight: 700;
	height: 3rem;
	width: 3rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	text-align: center;       
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.numeral-inc:focus,
.numeral-inc:hover {
	background-color: #606c76;
	border-color: #606c76;
}

.spell-notes  {

}
.spell-notes .collapsible-content {
	border: #1e8ad6 solid 1px;
	-moz-transition: max-height .5s;
	-ms-transition: max-height .5s;
	-o-transition: max-height .5s;
	-webkit-transition: max-height .5s;
	transition: max-height .5s;
	overflow-y: auto;
	overflow-x: hidden;
	/* max-height: 400px; */
}

.damage-dealt-chart {
	position: relative;
	height: 30px;
	border: #1e8ad6 1px solid;
}

.damage-dealt-chart > div {
	position: absolute;
	height: 100%;
}

.true-bg {
	background-color: #F9966B;
}

.physical-bg {
	background-color: #BC6032;
}

.magic-bg {
	background-color: teal;
}

select.input {
	height: auto;
	width: auto
}
.simple-link {
	color: #51a2e6;
	cursor: pointer;
	text-decoration: none;
}
.simple-link:hover,
.simple-link:focus {
	text-decoration: underline;
}