* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

.hidden {
	visibility: hidden;
	display: none;
}

.grow {
	-moz-transition: height .5s;
	-ms-transition: height .5s;
	-o-transition: height .5s;
	-webkit-transition: height .5s;
	transition: height .5s;
	height: 0;
	overflow: hidden;
}

#main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.data_holder {
	width: 29em;
	margin: 3.5px auto;
	padding: 7px;
	border: 1px solid #1e8ad6;
}

.casts_count {
	padding: 1ex;
	width: 4em;
}

.cast_pm {
	font-weight: bold;
	background-color: #2196F3;
	color: white;
	padding: 6px 12px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.cast_pm:hover {
	background-color: #45a049;
}

label {
	float: left;
	width: 50%;
}

label.short {
	width: 45%;
	margin: 0 0 0 5%;
}

.input {
	float: left;
	width: 50%;
	padding: 4px 6px;
	border: 3px solid #ccc;
	/* Gray border */
	border-radius: 3px;
	/* Rounded borders */
	margin: 2px 0;
	box-sizing: border-box;
}

.input.short {
	width: 42%;
	margin: 2px 0 2px 8%;
}

.input:focus {
	border: 3px solid #2196F3;
}

.radio {
	float: left;
	width: 25% !important;
}

input[type=checkbox] {
	width: 50%;
	padding: 0px 0px;
	margin: 2px 0;
	box-sizing: border-box;
}

/* the reset buttons are red with other red on hover */
input[type=reset] {
	background-color: #ed3131;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=reset]:hover {
	color: yellow;
	background-color: #9b1313;
}

/* Style the submit button with a specific background color etc */
input[type=button] {
	background-color: #2196F3;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
	color: black;
	background-color: #45a049;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *="sidebar"],
[id *="sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}