.icon {
    background: url('./../assets/championstats_icons.png') 0 -32px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: center;
}

.icon .i-heals {}

/* 
    Colors used for tip| and as|
    see also: https://leagueoflegends.fandom.com/wiki/Template:Keyword_color 
*/
.health,
.HP {
    color: #C03300;
}

.attack-damage,
.AD,
.ad {
    color: orange;
}

.physical-damage {
    color: #BC6032;
}

.ability-power,
.AP,
.ap {
    color: lightgreen;
}

.magic-damage {
    color: teal;
}

.true-damage {
    color: #F9966B;
}

.attack-speed {
    color: orangered;
}

.armor {
    color: yellow;
}

.lethality {
    color: tomato;
}

.magic-resist, 
.MR,
.mr {
    color: deeppink;
}

.mana,
.mana-regen {
    color: #0099CC;
}

.energy {
    color: yellow;
}

.critical-strike-chance,
.critical-chance {
    color: #E56013;
}

.critical-strike-damage,
.critical-damage {
    color: #944B00;
}

.movement-speed,
.MS,
.ms {
    color: #F5EE99;
}

.XP,
.xp {
    color: #883FD1;
}

.gold {
    color: #FFD700;
}

.siphoning-strike {
    color: #5C58C9;
}

.buzzword {
    color: #A01D7A;
}

.buzzword2 {
    color: #56C456;
}

.buzzword3 {
    color: #E34D4C;
}