/****************************************************
 global style
 ****************************************************/

*,
*:after,
*:before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: inherit;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #fefefe;
    background: #121a1b;
}

[v-cloak] {
    display: none;
}