@charset "utf-8";

%icon-shared {
    background-position: 0 0;
    background-size: 100% 100%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: absolute;
}

.alert-icon {
    background-image: url('assets/alert.png');
    @extend %icon-shared;
}

.ability-power-icon,
.ap-icon {
    background-image: url('./assets/icons/Ability_power_icon.png');
    @extend %icon-shared;
}

.armor-icon {
    background-image: url('./assets/icons/Armor_icon.png');
    @extend %icon-shared;
}

.armor-penetration-icon {
    background-image: url('./assets/icons/Armor_penetration_icon.png');
    @extend %icon-shared;
}

.attack-damage-icon,
.ad-icon {
    background-image: url('./assets/icons/Attack_damage_icon.png');
    @extend %icon-shared;
}

.attack-speed-icon {
    background-image: url('./assets/icons/Attack_speed_icon.png');
    @extend %icon-shared;
}

.cooldown-reduction-icon,
.cdr-icon {
    background-image: url('./assets/icons/Cooldown_reduction_icon.png');
    @extend %icon-shared;
}

.critical-strike-chance-icon {
    background-image: url('./assets/icons/Critical_strike_chance_icon.png');
    @extend %icon-shared;
}

.critical-strike-damage-icon {
    @extend %icon-shared;
    background-image: url('./assets/icons/Critical_strike_damage_icon.png');
    @extend %icon-shared;
}

.energy-icon {
    background-image: url('./assets/icons/Energy_icon.png');
    @extend %icon-shared;
}

.energy-regeneration-icon {
    background-image: url('./assets/icons/Energy_regeneration_icon.png');
    @extend %icon-shared;
}

.experience-icon,
.exp-icon {
    background-image: url('./assets/icons/Experience_icon.png');
    @extend %icon-shared;
}

.gold-icon {
    background-image: url('./assets/icons/Gold_icon.png');
    @extend %icon-shared;
}

.health-icon {
    background-image: url('./assets/icons/Health_icon.png');
    @extend %icon-shared;
}

.health-regeneration-icon {
    background-image: url('./assets/icons/Health_regeneration_icon.png');
    @extend %icon-shared;
}

.hybrid-penetration-icon {
    background-image: url('./assets/icons/Hybrid_penetration_icon.png');
    @extend %icon-shared;
}

.hybrid-resistances-icon {
    background-image: url('./assets/icons/Hybrid_resistances_icon.png');
    @extend %icon-shared;
}

.life-steal-icon {
    background-image: url('./assets/icons/Life_steal_icon.png');
    @extend %icon-shared;
}

.magic-penetration-icon {
    background-image: url('./assets/icons/Magic_penetration_icon.png');
    @extend %icon-shared;
}

.magic-resistance-icon,
.mr-icon {
    background-image: url('./assets/icons/Magic_resistance_icon.png');
    @extend %icon-shared;
}

.mana-icon {
    background-image: url('./assets/icons/Mana_icon.png');
    @extend %icon-shared;
}

.mana-regeneration-icon {
    background-image: url('./assets/icons/Mana_regeneration_icon.png');
    @extend %icon-shared;
}

.movement-speed-icon {
    background-image: url('./assets/icons/Movement_speed_icon.png');
    @extend %icon-shared;
}

.range-icon {
    background-image: url('./assets/icons/Range_icon.png');
    @extend %icon-shared;
}

.slow-immune-icon {
    background-image: url('./assets/icons/Slow_immune_icon.png');
    @extend %icon-shared;
}

.spell-vamp-icon {
    background-image: url('./assets/icons/Spell_vamp_icon.png');
    @extend %icon-shared;
}

.tenacity-icon {
    background-image: url('./assets/icons/Tenacity_icon.png');
    @extend %icon-shared;
}