.icon2 {
    background: url('./assets/championstats_icons.png') 0 -32px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: center;
}

/* 
    Colors used for tip| and as|
    see also: https://leagueoflegends.fandom.com/wiki/Template:Keyword_color 
*/
scaleHealth,
.health,
.HP,
.hp {
    color: #1F995C !important;
}
attackDamage,
scaleAD,
.attack-damage,
.AD,
.ad {
    color: #ffa500 !important;
}

physicalDamage,
.physical-damage {
    color: #BC6032 !important;
}

scaleAP,
.ability-power,
.AP,
.ap {
    color: lightgreen !important;
}

magicDamage,
.magic-damage {
    color: teal !important;
}

trueDamage,
truedamage,
.true-damage {
    color: #F9966B !important;
}
attackSpeed,
.attack-speed {
    color: orangered !important;
}

scaleArmor,
.armor {
    color: yellow !important;
}

scaleLethality,
.lethality {
    color: tomato !important;
}

scaleMR,
.magic-resist, 
.MR,
.mr {
    color: deeppink !important;
}

scaleMana,
.mana,
.mana-regen {
    color: #0099CC !important;
}

.energy {
    color: yellow !important;
}

.crit-strike-chance,
.crit-chance {
    color: #E56013 !important;
}

.crit-strike-damage,
.crit-damage {
    color: #944B00 !important;
}

.movement-speed,
.MS,
.ms {
    color: #F5EE99 !important;
}

.XP,
.xp {
    color: #883FD1 !important;
}
goldGain,
.gold {
    color: #FFD700 !important;
}

.siphoning-strike {
    color: #5C58C9 !important;
}

.buzzword {
    color: #A01D7A !important;
}

.buzzword2 {
    color: #56C456 !important;
}

.buzzword3 {
    color: #E34D4C !important;
}

/** League Colors */
/** #2c8da0 */
/** #a89361 #e7decb #35ada2 #5b471f  #020a13*/

/** For items.json */
mainText { display: block; }
/* .item-desc br { height:100px; display: block; } */
.item-desc li { list-style: disc; padding-left: 1.5em;}
stats { display: block;  padding-left: 1em; color: #2c8da0;}
rarityGeneric { color: #8d5a31;}
rarityLegendary { color: #c8db73;}
rarityMythic { color: #c72bad;}

passive { color: #a89361;}
OnHit { color: #A01D7A;}
active { color: #a89361;}

/* attention { color: #66b646; } */
attention::before { content: '';  padding-left: 0.5em;}

flavorText { color: #87c2c2; font-size: small; font-style: italic;}
rules { color: #839494; font-size: 10pt; font-style: italic;}
healing { color: blue;}
keywordMajor { color: blue;}
keywordStealth { color: blue;}
lifeSteal { color: blue;}
ornnBonus { color: #83b455;}
scaleLevel { color: white; font-weight: bold}
shield { color: blue;}
speed { color: blue;}
status { color: #8988b9;}
unique { color: blue;}
subtitleLeft { color: blue;}
silver { color: silver;}