.icon2 {
    background: url('./assets/championstats_icons.png') 0 -32px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: center;
}

/* 
    Colors used for tip| and as|
    see also: https://leagueoflegends.fandom.com/wiki/Template:Keyword_color 
*/
.health,
.HP,
.hp {
    color: #1F995C !important;
}

.attack-damage,
.AD,
.ad {
    color: orange !important;
}

.physical-damage {
    color: #BC6032 !important;
}

.ability-power,
.AP,
.ap {
    color: lightgreen !important;
}

.magic-damage {
    color: teal !important;
}

.true-damage {
    color: #F9966B !important;
}

.attack-speed {
    color: orangered !important;
}

.armor {
    color: yellow !important;
}

.lethality {
    color: tomato !important;
}

.magic-resist, 
.MR,
.mr {
    color: deeppink !important;
}

.mana,
.mana-regen {
    color: #0099CC !important;
}

.energy {
    color: yellow !important;
}

.critical-strike-chance,
.critical-chance {
    color: #E56013 !important;
}

.critical-strike-damage,
.critical-damage {
    color: #944B00 !important;
}

.movement-speed,
.MS,
.ms {
    color: #F5EE99 !important;
}

.XP,
.xp {
    color: #883FD1 !important;
}

.gold {
    color: #FFD700 !important;
}

.siphoning-strike {
    color: #5C58C9 !important;
}

.buzzword {
    color: #A01D7A !important;
}

.buzzword2 {
    color: #56C456 !important;
}

.buzzword3 {
    color: #E34D4C !important;
}