*,
*:after,
*:before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fefefe;
  background: #121a1b;
}

[v-cloak] {
  display: none;
}


h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.75em;
}

hr {
    height: 2px;
    border: none;
    display: block;
    margin: 1rem 0;
    background-color: #282f2f;
}

p {
    margin: 0.5em;
}

ul {
    list-style: none;
}

a {
    color: #1abc9c;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #5c31d3;
    text-decoration: underline;
}

/****************************************************
 table
 ****************************************************/

table {
  border-collapse: collapse;
  width: 100%
}

tbody tr:hover {
  background-color: #343c3d
}

thead tr {
  background-color: #121a1b
}

td,
th {
  padding: 4px 8px;
  text-align: left;
  vertical-align: top
}

thead th {
  vertical-align: bottom
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}


/****************************************************
 buttons
 ****************************************************/

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  box-shadow: none;
  font-size: 15px;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;

  border-width: 2px;
  color: #fff;
  transition: all .2s ease;
  background-color: #282f2f;
  border-color: #4c5759;
  border-width: 1px;
  color: #fefefe;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  margin: 0.25em;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .4em;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  border-color: #8c9b9d;
  color: #f2f2f2;
}


/****************************************************
  forms
  ****************************************************/

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #94989c;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: inherit;
  font-family: monospace;
  font-size: 1.1em;
  padding: .25em .5em .25em;
  width: 90%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #77d874;
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
}

select[multiple] {
  background: none;
  height: auto;
}

textarea {
  min-height: 6.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

[disabled] {
  cursor: default;
  opacity: .5;
}

/****************************************************
    grid and page formatting
    ****************************************************/

body>div {
  /* // max-width: 960; */
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  /* // width: 100%; */
  flex-wrap: wrap;
}

/* // .flex .flex {
//     margin: 0 -1.5em;
// } */

@media (min-width:1000px) {

  .col,
  .c25,
  .c33,
  .c50,
  .c66,
  .c75 {
    padding: 1.5em;
    flex: none;
    vertical-align: top;
    padding: .75rem;
  }

  .c25 {
    width: 24.9%;
  }

  .c33 {
    width: 33.3%;
  }

  .c50 {
    width: 49.9%;
  }

  .c66 {
    width: 66.6%;
  }

  .c75 {
    width: 74.9%;
  }
}

@media (max-width:1000px) {

  .col,
  .c25,
  .c33,
  .c50,
  .c66,
  .c75 {
    padding: .75rem;
    display: block;
    width: 100%;
  }
}

.row:after {
  content: "";
  clear: both;
}

/****************************************************
   colors
   ****************************************************/

.transparent {
  background-color: transparent !important;
  color: #111 !important;
}

.default {
  background-color: #0074d9 !important;
  color: white !important;
}

.is-active,
.success {
  background-color: #375a7f !important;
  color: white !important;
}

.warning {
  background-color: #ffdc00 !important;
  color: #111 !important;
}

.error {
  background-color: #cc1f00 !important;
  color: white !important;
}

.info {
  background-color: #f1f1f1 !important;
  color: #111 !important;
}

.white {
  background-color: white !important;
  color: #111 !important;
}

.black {
  background-color: #111 !important;
  color: white !important;
}

/****************************************************
 accordion
 ****************************************************/

.accordion>label {
  cursor: pointer
}

.accordion>input~label:before {
  content: "\25b2";
  color: #ddd
}

.accordion>input:checked~label:before {
  content: "\25bc";
  color: #ddd
}

.accordion>input {
  display: none
}

.accordion>input:checked~*:not(label) {
  max-height: 1000px !important;
  overflow: hidden !important;
  -webkit-transition: max-height .3s ease-in;
  transition: max-height .3s ease-in;
}

.accordion>*:not(label) {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
}

/****************************************************
 convenience
 ****************************************************/

.notification {
  margin: 20px 25px 0 25px;
  padding: 20px 50px 20px 20px;
  position: relative;
  border-radius: 5px;
  color: black;
}

.notification .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.padded {
  padding: 1.5em;
}

.fill {
  width: 100%;
}