/* 
sbc (or Small bold capitals): 
https://leagueoflegends.fandom.com/wiki/Template:Sbc
 */
 .sbc {
    font-weight: bold;
    font-size: 89%;
    text-transform: uppercase;
}

/* 
  ft (or Flip text): {{ft|<Element 1>|<Element 2>}}
  <label class="ft">
      <input type="checkbox">
      <span class="flipText1">「 Text 1 」</span>
      <span class="flipText2">「 Text 2 」</span>
  </label>
 https://leagueoflegends.fandom.com/wiki/Template:FlipText
  */
.ft {
    cursor: help;
}

.ft>input[type='checkbox'],
.ft>input:checked~.flipText1,
.ft>.flipText2 {
    display: none;
}

.ft>.flipText1,
.ft>input:checked~.flipText2 {
    display: inline;
}